<!DOCTYPE html>
<html>

<head>
  <title>WhatsApp Client UI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" style="text-transform: capitalize;">Welcome <%= user.name || user.username %></a>
      <form action="/logout" method="post" class="d-flex">
        <button class="btn btn-outline-success" type="submit">Logout</button>
      </form>
    </div>
  </nav>

  <br />
  <div class="container">
    <h1>Send WhatsApp Message</h1>
    <div id="add_to_me" class="text-center">
      <button class="btn btn-primary" id="generateQRButton">Generate QR</button>
      <img id="qrCode" alt="QR Code" style="display: none" />
    </div>

    <form class="row g-3" id="sendForm">
      <label class="form-label" for="phoneNumber">To WhatsApp Numbers</label>
      <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
        placeholder="91xxxxxxxxxx,91xxxxxxxxxx" />
      <label class="form-label" for="message">Enter Message to send</label>
      <textarea class="form-control" id="message" rows="3" name="message"></textarea>
      <label class="form-label" for="file">Upload Files to Send</label>
      <input type="file" id="file" class="form-control" name="file" />
      <button class="btn btn-primary" id="sendMessageButton">
        Send Message
      </button>
    </form>
  </div>
  <script>
    const generateQRButton = document.getElementById("generateQRButton");
    const sendMessageButton = document.getElementById("sendMessageButton");
    const qrCodeImage = document.getElementById("qrCode");
    const add_to_me = document.getElementById("add_to_me");
    let sessionName = '<%-user.username.split("@")[0] %>'

    generateQRButton.addEventListener("click", async (e) => {
      e.preventDefault();
      fetch(`/api/generate-qr/${sessionName}`) // Change this URL to your server endpoint
        .then(response => response.json())
        .then(data => {
          if (data.qr.includes("connected")) {
            add_to_me.innerHTML = '<p class="text-center">' + data.qr + '<p><button class="btn btn-primary" id="disconnect">Disconnect</button>';
          } else {
            qrCodeImage.src = data.qr;;
            qrCodeImage.style = 'block';
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });

    // send message
    sendMessageButton.addEventListener("click", async (e) => {
      e.preventDefault();
      const form = document.getElementById("sendForm");
      const formdata = new FormData(form);

      const response = await fetch(`/api/send-whatsapp/${sessionName}`, {
        method: "POST",
        body: formdata
      });

      if (response.ok) {
        alert("Message sent successfully");
      } else {
        alert("Error sending message");
      }
    });
  </script>
</body>

</html>